.ba-header {
    padding-bottom: 10px;
}

.ba-aboutus {
    background-color: #f6f6f6;
    padding-bottom: 20px;
}

.ba-works {
    &-wrapper {
        height: 680px;
	    max-width: 100%;
	    display: grid;
	    grid-template: repeat(3, 33.3%) / repeat(4, 25%);
        padding: 0;
        margin: 0 auto;

        @media screen and (max-width: 1000px) {
            height: 1020px;
            grid-template: repeat(4, 25%) / repeat(3, 33.3%);
        }

        @media screen and (max-width: 768px) {
            height: 1700px;
		    grid-template: repeat(6, 16.66%) / repeat(2, 50%);
        }

        @media screen and (max-width: 540px) {
            height: 900px;
        }

        @media screen and (max-width: 360px) {
            max-width: 100%;
            height: 2500px;
		    grid-template: 100% / 100%;
        }
    }

    &__item {

	    background-position: center;
	    background-size: cover;
        transition: .5s all ease;

        &:nth-child(1) {
            background-image: url(../img/work12.jpg);
        }
        &:nth-child(2) {
            background-image: url(../img/work1.jpg);
        }
        &:nth-child(3) {
            background-image: url(../img/work2.jpg);
        }
        &:nth-child(4) {
            background-image: url(../img/work3.jpg);
        }
        &:nth-child(5) {
            background-image: url(../img/work4.jpg);
        }
        &:nth-child(6) {
            background-image: url(../img/work5.jpg);
        }
        &:nth-child(7) {
            background-image: url(../img/work6.jpg);
        }
        &:nth-child(8) {
            background-image: url(../img/work7.jpg);
        }
        &:nth-child(9) {
            background-image: url(../img/work8.jpg);
        }
        &:nth-child(10) {
            background-image: url(../img/work9.jpg);
        }
        &:nth-child(11) {
            background-image: url(../img/work10.jpg);
        }
        &:nth-child(12) {
            background-image: url(../img/work11.jpg);
        }
    }
}